<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devit.nddb">

    <application
        android:name=".NDDBApp"
        android:allowBackup="true"
        android:icon="@drawable/new_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.NDDB"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.FacilitatorActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DrawerActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:label="@string/title_activity_drawer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ui.OtpValidation.OTPActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ui.registration.RegistrationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ui.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity.ui.imageviewer.ImageViewerActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Activity.ui.LanguageList.ChooseLanguageActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <receiver
            android:name=".backgroundservice.RestartBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped"
            android:permission="TODO" />
        <receiver
            android:name=".brodcastreceiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.devit.nddb.brodcastreceiver.AlarmReceiver" />
            </intent-filter>
        </receiver>

        <service
            android:name=".backgroundservice.JobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".backgroundservice.AutoStartService"
            android:enabled="true" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

</manifest>